[submodule "Libraries/mini-random-library"]
	path = Libraries/mini-random-library
	url = https://github.com/minibois/mini-random-library
[submodule "Libraries/mini-MX-Tweaks.pretty"]
	path = Libraries/mini-MX-Tweaks.pretty
	url = https://github.com/minibois/mini-MX-Tweaks.pretty
[submodule "Libraries/mini-Logos.pretty"]
	path = Libraries/mini-Logos.pretty
	url = https://github.com/minibois/mini-Logos.pretty
[submodule "Libraries/mini-general-tweaks.pretty"]
	path = Libraries/mini-general-tweaks.pretty
	url = https://github.com/minibois/mini-general-tweaks.pretty
[submodule "Libraries/ProMicroKiCad"]
	path = Libraries/ProMicroKiCad
	url = https://github.com/Biacco42/ProMicroKiCad
[submodule "Libraries/MX_Alps_Hybrid"]
	path = Libraries/MX_Alps_Hybrid
	url = https://github.com/ai03-2725/MX_Alps_Hybrid
[submodule "Libraries/random-keyboard-parts.pretty"]
	path = Libraries/random-keyboard-parts.pretty
	url = https://github.com/ai03-2725/random-keyboard-parts.pretty
